<table class="table is-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Livre</th>
      <th>Quantité</th>
      <th>Prix unitaire</th>
      <th>Total</th>
    </tr>
  </thead>
  <tr *ngFor="let item of items">
    <td><button (click)="removeFromCart(item)">X</button></td>
    <td>{{ item.product.title }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.product.price }}</td>
    <td>{{ item.quantity * item.product.price }}</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">SOUS-TOTAL</td>
    <td>{{ totalPrice }}</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">Remise</td>
    <td>{{ discount }}</td>
  </tr>
  <tfoot>
    <tr class="has-text-weight-bold">
      <td></td>
      <td colspan="3">TOTAL</td>
      <td>
        <b>{{ totalPrice - discount }}</b>
      </td>
    </tr>
  </tfoot>
</table>
