.searchform {
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  text-align: center;
  min-height: 40px;
}
.item {
  text-align: center;
  margin-bottom: 1em;
}
.item img {
  width: 80%;
}
.price {
  font-weight: bold;
  font-size: 2em;
}
.buybox {
  text-align: center;
}

@media (min-width: 769px) {
  .item img {
    width: 100%;
  }
  .buybox {
    text-align: left;
  }
  .addtocart {
    text-align: right;
  }
}
